<!-- BEGIN NAVBAR -->
<div class="header-container fixed-top">
    <header class="header navbar navbar-expand-sm expand-header">

        <div class="container-xxl">

            <!-- Sidebar Toggle -->
            <ul class="navbar-item theme-brand flex-row text-center">
                <li class="nav-item">
                    <a href="javascript:void(0);"
                       class="sidebarCollapse mobile-menu-toggle">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24" height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             class="feather feather-menu">
                            <line x1="3" y1="12" x2="21" y2="12"></line>
                            <line x1="3" y1="6" x2="21" y2="6"></line>
                            <line x1="3" y1="18" x2="21" y2="18"></line>
                        </svg>
                    </a>
                </li>
            </ul>

            <!-- Title -->
            <ul class="navbar-item flex-row ms-lg-auto ms-0">
                <li class="nav-item align-self-center">
                    <span class="fw-semibold text-white">
                        Text Intelligence Platform
                    </span>
                </li>
            </ul>

        </div>

    </header>
</div>
<!-- END NAVBAR -->
